<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    <link href="~/Content/Site.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <script src="~/Scripts/modernizr-2.8.3.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>


   <style>
        .container {
            width: 100%;
            background: black;
        }

       .containerfooter {
       height:300px;
       width:100%;
       background:black;
       padding: 50px;
       align-content:center;
       }
       .link-area  {
           width: 40px;
           height: 40px;
           list-style-type: none;
           margin: 5px;
          
       }
       h3 {
       color: white;
       }
       p {
        color: white;
           }
    </style>
</head>
<body>

    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("TecnoHarddw", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li> @Html.ActionLink("Mision y Vision", "Vision", "Home") </li>
                    <li> @Html.ActionLink("Productos", "Productos", "Home") </li>
                    <li> @Html.ActionLink("Ofertas", "Ofertas", "Home")  </li>
                </ul>
            </div>
        </div>
    </div>

    <div class="container body-content">
        @RenderBody()
    </div>
    <div class="containerfooter">
        <div class="footer">
            <div class="row">
                <div class="col-md-4">
                    <div class="about us">
                        <h3>SOBRE NOSOTROS</h3>
                        <P>Techno hard lleva tecnología a todos los lugares de Colombia.</P>
                    </div>
                </div>
                <div class="col-md-5">
                    <div class="link-area">
                        <h3>PRODUCTOS</h3>
                        <ul>
                            <li><a href="~/Views/Home/Productos.cshtml"> Impresoras</a></li>
                            <li><a href=""> Camaras</a></li>
                            <li><a href="#"> Routers</a></li>
                            <li><a href="#"> Monitores</a></li> 
                        </ul>
                    </div>

                </div>
                <div class="col-md-3">

                    <div class="link-area">
                        <h3>EMPRESA</h3>
                        <ul>
                            <li><a href="~/Views/Home/Ofertas.cshtml">Ofertas</a></li>
                            <li><a href="~/Views/Home/Index.cshtml"> Quienes somos</a></li>
                            <li><a href="~/Views/Home/Productos.cshtml"> Productos</a></li>
                        </ul>
                    </div>
                  </div>
                 </div>
                </div>
            </div>
        
    
</body>
</html>