@model ProjectoAplicacionesII.Models.Proveedor_has_Producto

@{
    ViewBag.Title = "Delete";
}

<h2>Eliminar</h2>

<h3>¿Esta seguro de que desea eliminar este registro?</h3>
<div>
    <h4>Proveedor_has_Producto</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Producto.nombre_producto)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Producto.nombre_producto)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Proveedor.nombre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Proveedor.nombre)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Eliminar" class="btn btn-default" /> |
            @Html.ActionLink("Volver", "Index")
        </div>
    }
</div>
